/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* titillium-web-regular - latin */
@font-face {
  font-display: block; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/titillium-web-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* russo-one-regular - latin */
@font-face {
  font-display: block; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/russo-one-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer base {
  :root {
    --color-bkg: 212deg 79% 11%;
    --color-content: 184deg 100% 97%;
    --color-detail-red: 0deg 100% 50%;
    --color-tekhelet: 264deg 67% 35%;
    --simple-white: 184deg 100% 97%;
    /* @apply bg-bkg text-content  [transition:color_ease-in-out_0.5s,background-color_ease-in-out_0.7s]; */
    @apply bg-bkg text-content;
  }
  body {
    @apply p-4 sm:p-5 w-full mx-auto my-0 max-w-3xl;
  }
  :root[data-mode="light"] {
    --color-bkg: 184deg 100% 97%;
    --color-content: 212deg 79% 11%;
    --color-detail-red: 0deg 100% 50%;
    /* @apply bg-bkg text-content  [transition:color_ease-in-out_0.5s,background-color_ease-in-out_0.7s]; */
    @apply bg-bkg text-content;
  }
  :root[data-mode="dark"] {
    --color-bkg: 212deg 79% 11%;
    --color-content: 184deg 100% 97%;
    --color-detail-red: 0deg 100% 50%;
    @apply bg-bkg text-content;
    /* @apply bg-bkg text-content  [transition:color_ease-in-out_0.5s,background-color_ease-in-out_0.7s]; */
  }
  h1,
  h2 {
    @apply font-headings;
  }
  h2{
    @apply text-2xl
  }
}
