---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <div class="font-bold bg-red-500 dark:bg-green-500" >bla bla</div>
</BaseLayout>