---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
  <!-- <Hamburger />
  <ThemeIcon />
  <Navigation /> -->
  <div class="flex justify-between">
    <div class="grid grid-cols-1 divide-y-2 divide-detail-red">
      <div class="font-headings text-4xl">Coding Cousins</div>
      <Navigation />
    </div>
    <ThemeIcon />
  </div>
</nav>
