---
const navLinks = [
  { link: "/", label: "Home" },
  { link: "/blog", label: "Blog" },
  { link: "/about", label: "About" },
];
---

<div class=`flex justify-between text-2xl`>
  {
    navLinks.map((link) => (
      <a
        class="hover:text-detail-red transition-colors ease-in-out delay-150 duration-500"
        href={link.link}
      >
        {link.label}
      </a>
    ))
  }
</div>
