---
const navLinks = [
  { link: "/", label: "Home" },
  { link: "/blog", label: "Blog" },
  { link: "/about", label: "About" },
];
---

<div class=`flex justify-between text-2xl`>
  {
    navLinks.map((link) => (
      <a class="group " href={link.link}>
        {link.label}
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-detail-red" />
      </a>
    ))
  }
</div>
