---

---

<!-- <button id="themeToggle">
  <svg width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      class="sun"
      fill-rule="evenodd"
      d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"
    ></path>
    <path
      class="moon"
      fill-rule="evenodd"
      d="M16.5 6A10.5 10.5 0 0 1 4.7 16.4 8.5 8.5 0 1 0 16.4 4.7l.1 1.3zm-1.7-2a9 9 0 0 1 .2 2 9 9 0 0 1-11 8.8 9.4 9.4 0 0 1-.8-.3c-.4 0-.8.3-.7.7a10 10 0 0 0 .3.8 10 10 0 0 0 9.2 6 10 10 0 0 0 4-19.2 9.7 9.7 0 0 0-.9-.3c-.3-.1-.7.3-.6.7a9 9 0 0 1 .3.8z"
    ></path>
  </svg> -->
<div class="flex">
  <div class="day_night_container">
    <input type="checkbox" class="checkbox" id="chk" />
    <label class="label" for="chk">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brightness-2 w-3 h-3"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#FCBF49"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        <path
          d="M6 6h3.5l2.5 -2.5l2.5 2.5h3.5v3.5l2.5 2.5l-2.5 2.5v3.5h-3.5l-2.5 2.5l-2.5 -2.5h-3.5v-3.5l-2.5 -2.5l2.5 -2.5z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-moon-filled w-3 h-3"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z"
          stroke-width="0"
          fill="#FCBF49"></path>
      </svg>
      <!-- <i class="ti ti-brand-tabler"></i> -->
      <!-- <i class="fas fa-moon"></i> -->
      <div class="ball"></div>
    </label>
  </div>
</div>

<style>
  #themeToggle {
    border: 0;
    background: none;
  }
  .sun {
    fill: black;
  }
  .moon {
    fill: transparent;
  }

  :global(.dark) .sun {
    fill: transparent;
  }
  :global(.dark) .moon {
    fill: white;
  }
  /*night/day mode*/
  .day_night_container {
    align-self: center;
    /* margin-bottom: 1.5rem; */
  }
  .day_night_container .checkbox {
    opacity: 0;
    position: absolute;
  }

  .day_night_container .label {
    background-color: rgb(121, 121, 115);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }

  .day_night_container .label .ball {
    background-color: #eeffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .day_night_container .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }

  .day_night_container .fa-moon {
    color: #f1c40f;
  }

  .day_night_container .fa-sun {
    color: #ff4d5a;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const root = window.document.documentElement;

    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      // if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      //   return "dark";
      // }
      return "dark";
    })();

    if (theme === "light") {
      document.getElementById("chk").checked = true;
      document.documentElement.setAttribute("data-mode", "light");
    } else {
      document.getElementById("chk").checked = false;
      document.documentElement.setAttribute("data-mode", "dark");
    }

    window.localStorage.setItem("theme", theme);
    // root.style.transition = "background-color 0.5s ease";

    const handleToggleClick = () => {
      const element = document.documentElement;
      element.getAttribute("data-mode") === "dark"
        ? element.setAttribute("data-mode", "light")
        : element.setAttribute("data-mode", "dark");

      const isDark = element.getAttribute("data-mode") === "dark";
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    document
      .getElementById("chk")
      .addEventListener("change", handleToggleClick);
  });
</script>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    // if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    //   return "dark";
    // }
    return "dark";
  })();

  if (theme === "light") {
    document.getElementById("chk").checked = true;
    document.documentElement.setAttribute("data-mode", "light");
  } else {
    document.getElementById("chk").checked = false;
    document.documentElement.setAttribute("data-mode", "dark");
  }

  window.localStorage.setItem("theme", theme);
</script>

<script>
  document.addEventListener("astro:after-swap", () => {
    if (localStorage.theme === "dark") {
      document.getElementById("chk").checked = false;
    } else {
      document.getElementById("chk").checked = true;
    }
    localStorage.theme === "dark"
      ? document.documentElement.setAttribute("data-mode", "dark")
      : document.documentElement.setAttribute("data-mode", "light");
  });
</script>
